<ul class="media-list">
  <% articles.each do |article| %>
    <li class="media">
      <div class="media-body">
        <div>
          <%= link_to article_path(article) do %>
            <%= image_tag(article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
          <% end %>
        </div>
        <div>
          <h5 class="title"><%= article.title %></h5>
        </div>
        <div class="description">
          <%= article.description %>
        </div>
        <div>
          <img src="<%= gravatar_url(article.user, size: 30) %>" alt="" class="img-circle">
          <%= link_to article.user.name, user_path(article.user) %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate articles %>
</ul>
