<div class="text-center">
  <h1>Log in</h1>
  <h6>ご覧になった方へ: このままログインしてください</h6>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :value => "testuser@example.com" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", :value => "password" %>
      </div>

        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    <% end %>

    <p>New user? <%= link_to 'Sign up now!', new_user_registration_path %></p>

  </div>
</div>
